{% extends "base_generic.html" %}
<head>
  {% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

{% block content %}
  

  <div class='jumbotron text-center'>
    <h1>Local Library Home Page</h1>
    <p>Welcome to LocalLibrary, a website developed by <em>Jia Yu</em>!</p>
  </div>
  
  <div class='text-center'>
        <h2>What's Brewin?</h2>
  </div>
  
  <div class='record_container'>
    <h3>Record:</h3>

  <ul>
  
    <br><strong>Books:</strong> {{ num_books }}</br>
    <br><strong>Copies:</strong> {{ num_instances }}</br>
    <br><strong>Copies available:</strong> {{ num_instances_available }}</br>
    <br><strong>Authors:</strong> {{ num_authors }}</br>
    <br><strong>Genres:</strong> {{ num_genres }}</br>
   
    
  </ul>
  </div>
  
  <div class="session_count">
    <p>You have visited this page {{ num_visits }} {% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
  </div>
  
{% endblock %}



<!-- Add additional CSS in static file --> 
{% load static %} 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% load static %}
<img src="{% static 'catalog/images/local_library_model_uml.png' %}" alt="UML diagram" style="width:555px;height:540px;">